PORT=


DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

JWT_SECRET=
CLIENT_ORIGIN=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=


CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

ORDER_EMAIL_ADMIN=
ORDER_EMAIL_CONTACT=
ORDER_EMAIL_SUPPORT=
ORDER_EMAIL_SALES=
ORDER_EMAIL_INFO=
ORDER_EMAIL_NOREPLY=
